/*App.js*/


/*navbar*/



/*Router*/
/*Sidebar*/
/*Footer*?
/*Home*/
/*Rent*/
/*Buy*/
/*Landscaping*/

.landbg{
  background-image: url(images/isc22.jpg);
  width: 100%;
  height: 400px;
  color: white;
  font-size: 100px;
}
.landcont1{
  margin-top: 100px;
}

.landcont2{
  margin-top: 100px;
}

.landcont3{
  margin-top: 100px;
}

.picsland{

  height:450px;
  width: 600px;
}


/*Property Valuation*/
/*Property Registration */
/*ShortStay*/
/**/
/*r*/
